@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Contact";
}

<hgroup class="title">
    <h1>@Page.Title Me</h1>
</hgroup>

<section class="contact">
    <header>
        <h3>Phone:</h3>
    </header>
    <p>
        <span class="label">Any Hour:</span>
        <span>+33 6 89 22 05 45</span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Email:</h3>
    </header>
    <p>
        <span class="label">Main:</span>
        <span><a href="mailto:Support@example.com">217634@supinfo.com</a></span>
    </p>
    <p>
        <span class="label">Personnal:</span>
        <span><a href="mailto:Marketing@example.com">mathieu.jacob.mjb@gmail.com</a></span>
    </p>
</section>
