@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Hub";
}
<div class="fullwidth">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-md-9">
                <h3 class="titlecv">Welcome to my website. You can find here some of my projects</h3>
                <br />
            </div>
            <div class="col-md-3">
                <button class="btn btn-lg btn-default center-block btncv" onclick="window.location.href='http://docdro.id/k1IMZR9'">Get my CV here !</button>
            </div>
        </div>
    </div>
</div>
<div class="bodytwo">
    <div class="content-wrapper">
        <div class="row">

            <div class="col-md-6 pjtImg text-center">
                <img class="btn pjtImg img-hov" src="~/Images/MIRK.PNG" onclick="window.location.href = 'https://google.com'"/>
            </div>
            <div class="col-md-6 pjtImg text-center">
                <img class="btn pjtImg img-hov" src="~/Images/SUPIFY.PNG" onclick="window.location.href = 'https://google.com'"/>
            </div>
            <div class="col-md-6 pjtImg text-center">
                <img class="btn pjtImg img-hov" src="~/Images/projectplaceholder.jpg" onclick="window.location.href = 'https://google.com'"/>
            </div>
            <div class="col-md-6 pjtImg text-center">
                <img class="btn pjtImg img-hov" src="~/Images/projectplaceholder.jpg" onclick="window.location.href = 'https://google.com'"/>
            </div>
        </div>
    </div>
</div>



@*<ol class="round">
    <li class="one">
        <h5>Getting Started</h5>
        ASP.NET Web Pages and the new Razor syntax provide a fast, approachable, and lightweight way to combine server code with HTML
        to create dynamic web content. Connect to databases, add video, link to social networking sites, and include many more features
        that let you create beautiful sites using the latest web standards.
        <a href="https://go.microsoft.com/fwlink/?LinkId=245139">Learn more…</a>
    </li>

    <li class="two">
        <h5>Add NuGet packages and jump start your coding</h5>
        NuGet makes it easy to install and update free libraries and tools.
        <a href="https://go.microsoft.com/fwlink/?LinkId=245140">Learn more…</a>
    </li>

    <li class="three">
        <h5>Find Web Hosting</h5>
        You can easily find a web hosting company that offers the right mix of features and price for your applications.
        <a href="https://go.microsoft.com/fwlink/?LinkId=245143">Learn more…</a>
    </li>
</ol>*@